// @import '../../index.scss';
// @import 'stylesheet/_mixins.scss';
// @import 'stylesheet/_vars.scss';

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
