@font-face {
  font-family: 'Verdana';
  font-weight: 400;
  src: url('../assets/fonts/verdana_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Verdana';
  font-weight: 700;
  src: url('../assets/fonts/verdana_bold.ttf') format('truetype');
}
