@import 'stylesheet/_vars.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;

  font-weight: 700;
  line-height: calc(17 / 14);
  letter-spacing: 0.04em;

  border: none;
  border-radius: 30px;

  &:hover,
  &:focus {
    box-shadow: $boxShadow;
  }
}

.active {
  composes: button;

  color: $lightTextColor;
  background-color: $accentBgnColor;
}

.primary {
  composes: button;

  color: $accentTextColor;
  border: 1px solid $accentBgnColor;
  background-color: transparent;
}

.disable {
  composes: button;
  color: $lightTextColor;
  background-color: lighten($accentBgnColor, 10%);
  cursor: auto;

  &:hover {
    box-shadow: none;
  }
}

.small {
  width: 180px;
}

.large {
  width: 210px;
}
