@import '../../index.scss';

.container {
    max-width: 763px;
    // margin: 0;

    @include to-tablet-media {
        padding: 80px 20px 60px 20px;
    }

    @include tablet-media {
        padding: 100px 126px 55px 32px;
    }

    @include desktop-media {
         padding: 147px 124px 55px 16px;
    }
}

