@import 'stylesheet/_mixins.scss';
@import 'stylesheet/_vars.scss';

.heading {
  margin-bottom: 55px;

  font-weight: 700;
  line-height: calc(17 / 14);
  letter-spacing: 0.04em;
  color: $accentTextColor;

  text-align: center;
  text-transform: uppercase;

  @include tablet-media {
    text-align: left;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 100%;

  @include tablet-media {
    width: 240px;
  }
}

.label {
  font-weight: 700;
  line-height: calc(17 / 14);
  letter-spacing: 0.04em;
}

.text {
  &::after {
    content: '*';
    margin-left: 8px;
    font-weight: 400;
  }
}

.input {
  display: block;
  width: 100%;
  height: 30px;

  color: $mainTextColor;

  border: none;
  border-bottom: 1px solid $decorLine;

  &:focus {
    border-bottom: 1px solid $activeDecorLine;
    outline: none;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  margin-top: 60px;

  @include tablet-media {
    flex-direction: row;
    gap: 32px;
  }
}

.error {
  font-weight: 400;
  font-size: 11px;
  color: rgb(254, 173, 173);
}
