@import '../../index.scss';

.tWrapper {
  @include to-tablet-media {
  }

  @include tablet-media {
  }

  @include desktop-media {
  }
}

.nav {
  padding: 30px 0px 26px;
  display: flex;
  justify-content: space-between;
}

.menu {
  cursor: pointer;
  border: none;
  background-color: transparent;
  stroke: var(--main-color);
}

.menu svg {
  width: 24px;
  height: 24px;
}

.menu:hover {
  stroke: var(--accent-color);
}

.link {
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $mainTextColor;
  transition: $animation;
}

.active {
  color: $secondaryTextColor;
}

.regList {
  @include centeredFlex($jusCon: flex-end);
  -webkit-box-align: center;
  -webkit-box-pack: end;
  gap: 14px;
}
