@import 'stylesheet/_mixins.scss';
@import 'stylesheet/_vars.scss';

.formWrapper {
  margin-top: 40px;

  @include tablet-media {
    margin-top: 160px;
  }

  @include desktop-media {
    margin-top: 150px;
  }
}
