@import 'stylesheet/_mixins.scss';
@import 'stylesheet/_vars.scss';

.header {
  z-index: 2;
  position: relative;
  border-bottom: solid 1px $decorLine;

  @include desktop-media {
    border-bottom: none;
  }
}

.wrapper {
  @include tablet-media {
    @include centeredFlex($aliIte: center);
  }

  @include desktop-media {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
}

.wrapperReg {
  @include desktop-media {
    width: 100%;
  }
}

.inner {
  @include centeredFlex($jusCon: space-between);

  @include desktop-media {
    align-items: flex-end;
  }
}

.bgn {
  @include to-tablet-media {
    position: absolute;
    top: 83px;
    width: 100vw;
    height: 40px;

    background-color: $mobileMenuBgnLineColor;
  }
}
